@import "tailwindcss";

@theme {
  --color-primary: #1abc9c;
  --color-secondary: #2c3e50;
  --color-dark: #1a252f;

  --font-montserrat: "Montserrat", sans-serif;
  --font-lato: "Lato", sans-serif;
}
